*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body .home {
    float: left;
    width: 100%;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 75px;
    float: left;
    padding-right: 90px;
    padding-left: 90px;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    z-index: 1;
}
.logo{
    height: 100%;
    width: 50%;
    float: left;
}
.logo a:hover img{
    transform: rotate(330deg);
}
.logo>a>img{
    height: 100%;
}
.logo a{
    color: black;
}
.logo a:hover{
    text-decoration: none;
    color: black;
}
#logo{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 18px;
}
.menu{
    float: right;
    height: 100%;
    width: 50%;
    padding-top:29px;
    padding-bottom:29px;
}

.menu li{
    float: right;
    display: flex;
    position: relative;
}


.menu ul li ul {
    position: absolute;
    top: 46px;
    left: 0;
    background: rgba(255,255,255,0.9);
    display: none;
}
.menu ul li.active ul {
    display: block;
}
.menu ul li ul li {
    display: block;
    width: 200px;
    padding-bottom: 10px;
}
.menu ul li ul li a{
    text-transform: capitalize;
}
.menu li a{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #7e7e7e;
    margin-left: 30px;
    text-transform: uppercase;
}
.menu li a:hover{
    color: #cc9933;
    text-decoration: none;
}

/*--footer--*/

.footer-bs {
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
    width: 100%;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}



.container{
    position: relative;
    width: auto;
    height: auto;
    margin-right: 90px;
    margin-left: 90px;
    margin-top: -200px;
    background-color: white;
    color: black;
    padding-right: 20px;
    padding-left: 20px;
}
.backgound{
    width: 100%;
}
.backgound img{
    width: 100%;
}
.intro{
    float: left;
    width: 100%;
}
.intro h2{
    font-family: 'Open Sans', sans-serif;
}
.content {
    float: left;
    width: 100%
}
.content .div1{
    width: 100%;
    float: left;
}
.div1 figure{
    width: 100%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 15px;
}
.div1 img{
    width: 100%;
}
.div1 h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    color:#236eb5;
}
.div1 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.div2{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 20px;
}
.div2 .block-1{
    position: absolute;
    width: 40%;
    height: 60%;
    border-left: 5px solid #236eb5;
    top: 20%;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    padding: 40px;
}
.div2 .block-1 .teaser {
    width: 100%;
    height: 100%;
    position: relative;
}
.div2 .block-1 .teaser .teaser-headline{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.div2 .block-1 .teaser .teaser-text {
    color: #236eb5;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: 600;
}
.readmore{
    background-color: #bc9c5e;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 10px;
}
.teaser h3{
    margin-top: 0;
}
.teaser a:hover{
    text-decoration: none;
    background-color: #a98846;
    color: white;
}
.div2 .block-2{
    float: right;
    width: 75%;
}
.div3{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 20px;
}
.div3 .block-2{
    float: left;
    width: 75%;
}
.div3 .block-1{
    position: absolute;
    width: 40%;
    height: 60%;
    border-right: 5px solid #236eb5;
    top: 20%;
    right: 0;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    padding: 40px;
}
.div3 .block-1 .teaser {
    width: 100%;
    height: 100%;
    position: relative;
}
.div3 .block-1 .teaser .teaser-headline{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.div3 .block-1 .teaser .teaser-text {
    color: #236eb5;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: 600;
}