*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body .home {
    float: left;
    width: 100%;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 75px;
    float: left;
    padding-right: 90px;
    padding-left: 90px;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    z-index: 1;
}
.logo{
    height: 100%;
    width: 20%;
    float: left;
}
.logo a:hover img{
    transform: rotate(20deg);
}
.logo>a>img{
    height: 73px;
}
.menu{
    float: right;
    height: 100%;
    width: 80%;
    padding-top:29px;
    padding-bottom:29px;
}
.menu li{
    float: right;
}
.menu li a{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #7e7e7e;
    margin-left: 30px;
    text-transform: uppercase;
}
.menu li a:hover{
    color: #cc9933;
}
.home .vid {
    width: 100%;
}
.vid video{
    max-width: 100%;
}
.slogan{
    float: left;
    width: 100%;
    padding-right: 90px;
    padding-left: 90px;
    background-image: url("../img/script_background_40percent.jpg");
    background-size: cover;
}
.slogan h1{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
}
.slogan .signature{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    float: right;
}
.home .container{
    float: left;
    position: relative;
    width: 100%;
    height: 1000px;
    margin: 35px auto;
}
.hover{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #cc9933;
}
.container .hover:hover {
    opacity: 0.5;
}
.duc{
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    width: 69%;
    height: 29%;
    padding: 10px;
}
.son{
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    width: 29%;
    height: 69%;
    padding: 10px;
}
.tuananh{
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    width: 69%;
    height: 29%;
    padding: 10px;
}
.duong{
    position: absolute;
    float: left;
    bottom: 0;
    left: 0;
    width: 29%;
    height: 69%;
    padding: 10px;
}
.viet{
    float: left;
    position: absolute;
    top: 31%;
    left: 31%;
    width: 38%;
    height: 38%;
    padding: 10px;
}
a .text{
    top: 55%;
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: white;
    z-index: 2;
    text-shadow: 1px 1px gray;
}
.background {
    float: left;
    width: 100%;
    height: 100%;
}
/* footer */
.footer-bs {
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
    float: left;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
