*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

a{
    text-decoration: none;
}

.list{
    list-style: none;
}

body .home{
    float: left;
    width: 100%;
    margin: 0 auto;
}

/*--header--*/

.header{
    width: 100%;
    height: 75px;
    float: left;
    padding-right: 90px;
    padding-left: 90px;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    z-index: 1;
}
.logo{
    height: 100%;
    width: 50%;
    float: left;
}
.logo a:hover img{
    transform: rotate(330deg);
}
.logo>a>img{
    height: 100%;
}
.logo a{
    color: black;
}
.logo a:hover{
    text-decoration: none;
    color: black;
}
#logo{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 18px;
}
.menu{
    float: right;
    height: 100%;
    width: 50%;
    padding-top:29px;
    padding-bottom:29px;
}

.menu li{
    float: right;
    display: flex;
    position: relative;
}


.menu ul li ul {
    position: absolute;
    top: 46px;
    left: 0;
    background: rgba(255,255,255,0.9);
    display: none;
}
.menu ul li.active ul {
    display: block;
}
.menu ul li ul li {
    display: block;
    width: 200px;
    padding-bottom: 10px;
}
.menu ul li ul li a{
    text-transform: capitalize;
}
.menu li a{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #7e7e7e;
    margin-left: 30px;
    text-transform: uppercase;
}
.menu li a:hover{
    color: #cc9933;
    text-decoration: none;
}

/*--footer--*/

.footer-bs {
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
    width: 100%;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}


.title{
    padding: 0;
}

.title>a>img{
    float: left;
    width: 100%;
}

.section-1{
    float: right;
    width: 100%;
    background-image: url("../img/Images-group/Main/2.jpg");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.section-1>.content-1{
    float: right;
    width: 50%;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 90px;
}

.section-1>.content-1>h2{
    margin-top: 15px;
    margin-bottom: 10px;
}

.section-2{
    float: left;
    width: 100%;
    background-image: url("../img/Images-group/Main/3.jpg");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.section-2>.content-2{
    float: left;
    width: 50%;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 90px;
}

.section-2>.content-2>h2{
    margin-top: 15px;
    margin-bottom: 10px;
}

.section-2>.content-2>h3{
    margin-top: 15px;
    margin-bottom: 10px;
}

.section-3{
    float: right;
    width: 100%;
    background-image: url("../img/Images-group/Main/4.jpg");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.section-3>.content-3{
    float: right;
    width: 50%;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 90px;
}

.section-3>.content-3>h2{
    margin-top: 15px;
    margin-bottom: 10px;
}

.section-3>.content-3>h3{
    margin-top: 15px;
    margin-bottom: 10px;
}

.section-4{
    float: left;
    width: 100%;
    background-image: url("../img/Images-group/Main/5.jpg");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.section-4>.content-4{
    float: left;
    width: 50%;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 90px;
}

.section-4>.content-4>h2{
    margin-top: 15px;
    margin-bottom: 10px;
}

.section-4>.content-4>h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.beer-type{
    float: left;
    width: 100%;
    /*background-image: url("../images/SS2860739.jpg");*/
    background-color: #0f0f0f;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

figcaption{
    color: #0f0f0f;
}

.beer-type>.content-5{
    text-align: right;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 90px;
}

.beer-type>.list-type>{
    float: left;
}

.beer-type>.list-type>.contain{
    float: left;
    text-align: center;
    width: 300px;
    height: 330px;
    margin: 20px 10px 20px 50px;
    background-color: #ffffff;
}